{% extends "base.html" %}

{% block content %}

    <div class="row profile-settings">
        <div class="col-xs-12">
            <div class="profile-pic-name">
                {% if user.profile_pic %}
                    <img src="http://{{ request.META.HTTP_HOST }}/{{ user.profile.profile_pic.url }}" alt="profile pic">
                {% endif %}
                <span class="username">{{ user.username }}</span>
            </div>

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="update" />
            </form>
        </div>
    </div>

{% endblock content %}