<div class="navbar navbar-default navbar-fixed-top" id="main-nav">
	<div class="container desktop">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">Ins Demo</a>
		</div>

		<div id="navbar-main">
			<ul class="nav navbar-nav navbar-right">
				{% if request.user.is_authenticated %}
					<li class="user-name">
						<p>Hi, <a href="{% url 'user_profile' request.user.pk %}">{{ request.user.username }}</a></p>
					</li>
					<li class="">
						<a href="{% url 'make_post' %}">Make Post</a>
					</li>
					<li class="">
						<a href="{% url 'logout' %}">Logout</a>
					</li>
				{% else %}
					<li class="">
						<a href="{% url 'login' %}">Login</a>
					</li>
					<li class="">
						<a href="{% url 'sign_up' %}">Sign Up</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
