{% extends "base.html" %}

{% block content %}

	<div class="card-listing">
		{% for post in object_list %}
			<div class="row">
				<div class="card view-update {{ post.pk }}">
					<div class="card__panel-head">
						<div class="poster__info">
							<a href="/" class="poster__name">
								{% if post.author.profile_pic %}
									<img src="{{ post.author.profile_pic.url }}" alt="author pic" class="poster__profilepic">
								{% endif %}
								{{ post.author.username }}
							</a>

							<span class="poster__timestamp">
								{{ post.posted_on|timesince }}
							</span>
						</div>
					</div>

					<a href="{% url 'post' post.pk %}">
						<img src="{{ post.image.url }}" alt="post image" class="card__main-image">
					</a>

					<div class="card__panel-body">
						<div class="likes">
							{% if post.get_like_count %}
								{{ post.get_like_count }} like{% if post.get_like_count > 1 %}s{% endif %}
							{% endif %}
						</div>
						<ul class="comment-lists">
							<a class="view-more"></a>
							{% for comment in post.comments.all %}
								<li class="comment-list__comment">
									<a href="/" class="user">
										{{ comment.user.username }}
									</a>
									<span class="comment">{{ comment.comment }}</span>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock content %}