{% load static %}

<header>
    <ul>
        {% if request.user.is_authenticated %}
        <li>
            <p>Hi, {{ request.user.username }}</p>
        </li>
        <li>
            <a href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'login' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'sign_up' %}">Sign Up</a>
        </li>
        {% endif %}
    </ul>

    <div>
        <a href="{% url 'make_post' %}"> Make Post </a>
    </div>
</header>

<div>
    {% for post in object_list %}
        <a href="{% url 'post' post.pk %}">
            <img src="{{ post.image.url }}" width=200 height=200>
        </a>
    {% endfor %}
</div>